/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   样式重置
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  /* vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  min-width: 1136px;
  min-height: 100%;
  overflow-y: scroll;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
  text-decoration: none;
  color: #6c6f6c;
}
button {
  outline: none;
  cursor: pointer;
}

@font-face {
  font-family: "iconfont"; /* project id 1924694 */
  src: url("//at.alicdn.com/t/font_1924694_6jugw5levab.eot");
  src: url("//at.alicdn.com/t/font_1924694_6jugw5levab.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1924694_6jugw5levab.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1924694_6jugw5levab.woff") format("woff"),
    url("//at.alicdn.com/t/font_1924694_6jugw5levab.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1924694_6jugw5levab.svg#iconfont") format("svg");
}
.iconfont {
  font-family: iconfont;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

/* 重置日期插件样式 */
.mx-calendar-content .cell.active {
  background: #65c722 !important;
}
.mx-calendar-content .cell.in-range {
  background-color: #f8fff0 !important;
}
.mx-table-date .today {
  color: #65c722 !important;
}
